---
import { navigation } from "../../layouts/Layout.astro";
import Logo from "../Logo.astro";
import MenuLink from "./MenuLink.astro";
---

<img
  id="openButton"
  src="/icons/menu.svg"
  alt=""
  class="w-8 h-8 hidden max-lg:flex"
/>

<div
  id="menu"
  class="fixed opacity-0 pointer-events-none top-0 left-0 w-full h-full flex flex-col p-8 backdrop-blur-xl transition-opacity z-50"
>
  <div class="w-full flex justify-between items-center">
    <a
      href="/"
      draggable={false}
      class="flex gap-4 group items-center cursor-pointer select-none"
    >
      <Logo
        class="text-[var(--primaryColor)] group-hover:rotate-[14deg] w-12 transition-transform duration-150"
      />
      <p class="text-white font-luckiest-guy text-4xl select-none">Nouns</p>
    </a>
    <div class="w-8 h-8 flex items-center justify-center">
      <img id="closeButton" src="/icons/close.svg" alt="" class="w-4 h-4" />
    </div>
  </div>
  <div class="h-full flex justify-center">
    <div class="h-full flex flex-col justify-center items-center gap-16">
      {
        navigation.map(({ url, name }) => (
          <MenuLink href={url}>{name}</MenuLink>
        ))
      }
    </div>
  </div>
</div>

<script>
  const menu = document.getElementById("menu");
  const openButton = document.getElementById("openButton");
  const closeButton = document.getElementById("closeButton");

  function open() {
    if (menu) {
      document.documentElement.classList.add("overflow-y-hidden");
      menu.classList.add("opacity-100", "pointer-events-auto");
      menu.classList.remove("opacity-0", "pointer-events-none");
    }
  }

  function close() {
    if (menu) {
      document.documentElement.classList.remove("overflow-y-hidden");
      menu.classList.add("opacity-0", "pointer-events-none");
      menu.classList.remove("opacity-100", "pointer-events-auto");
    }
  }

  if (openButton && closeButton) {
    openButton.addEventListener("click", open);
    closeButton.addEventListener("click", close);
  }
</script>
