---
import Teams from "../../components/Teams.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Teams">
  <div class="w-full h-screen -mt-28">
    <Teams class="flex w-full h-full max-lg:flex-col" />
  </div>
</Layout>
