---
import Teams from "../../components/Teams.astro";
import Layout from "../../layouts/Layout.astro"

---

<Layout title="Teams">
    <div class="w-full h-screen"><Teams class="flex w-full h-full" /></div>

</Layout>