---
type Props = {
  title: string;
  href?: string;
};

const { title, href } = Astro.props;
---

<div class="flex flex-col gap-4">
  <div class="w-full justify-between flex items-center">
    <h2 class="font-bebas-neue text-white text-4xl">
      {title}
    </h2>
    {
      href ? (
        <a href={href} target="_blank" rel="noopener noreferrer">
          <img src="/icons/open.svg" alt="Go to the teams Liquipedia page" />
        </a>
      ) : (
        ""
      )
    }
  </div>
  <slot />
</div>
