---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1
    class="flex h-screen w-full justify-center items-center font-luckiest-guy text-6xl text-white"
  >
    About
  </h1>
</Layout>
