---
import Button from "../components/Button.astro";
import EventCard from "../components/EventCard.astro";
import Graphic from "../components/Graphic";
import Teams from "../components/Teams.astro";
import Discord from "../components/icons/Discord.astro";
import Twitch from "../components/icons/Twitch.astro";
import Twitter from "../components/icons/Twitter.astro";
import Youtube from "../components/icons/Youtube.astro";
import Layout from "../layouts/Layout.astro";
import getSchedule from "../utils/getSchedule";

const events = await getSchedule();
---

<Layout>
  <Graphic client:load />
  <div class="relative z-10 mt-[-72px]">
    <div
      class="w-[50vw] max-2xl:w-full max-2xl:justify-start max-xl:justify-center h-screen flex items-center justify-center max-sm:p-4 p-8"
    >
      <div class="flex flex-col gap-8">
        <h1
          class="font-luckiest-guy text-white text-6xl w-[600px] max-lg:w-full max-lg:text-center max-md:text-5xl max-sm:text-4xl"
        >
          Driving innovation at the intersection of{" "}
          <span class="text-red font-luckiest-guy">web3</span> and{" "}
          <span class="text-red font-luckiest-guy">gaming</span>
        </h1>
        <div
          class="flex gap-8 items-center max-xl:justify-center max-[450px]:flex-col"
        >
          <Button href="https://discord.gg/nounsesports">JOIN US</Button>
          <div class="flex items-center gap-4">
            <Twitch class="h-8" />
            <Twitter class="h-7" />
            <Youtube class="h-[26px]" />
            <Discord class="h-[29px]" />
          </div>
        </div>
        <!-- <p class="text-red font-semibold cursor-pointer">Subscribe to our newsletter</p> -->
      </div>
    </div>
    <Teams class="flex max-lg:flex-col w-full h-[75vh]" />
    <div>
      <div class="flex flex-col justify-center gap-12 mt-32">
        <div
          class="flex items-center justify-between px-16 max-lg:px-8 max-md:flex-col max-md:gap-8"
        >
          <h2
            class="font-luckiest-guy text-6xl max-md:text-center text-white max-lg:text-5xl"
          >
            Upcoming Events
          </h2>
          <div
            class="flex gap-8 items-center max-md:justify-center max-md:w-full"
          >
            <Button href="/schedule">ALL EVENTS</Button>
            <div class="flex gap-4 max-md:gap-2">
              <img
                class="w-10 rotate-180 cursor-pointer hover:opacity-100 transition-opacity duration-300 select-none"
                src="/icons/arrow.svg"
                draggable={false}
              />
              <img
                class="w-10 cursor-pointer opacity-[85%] hover:opacity-100 transition-opacity duration-300 max-lg:opacity-100 select-none"
                src="/icons/arrow.svg"
                draggable={false}
              />
            </div>
          </div>
        </div>
        <div
          class="flex flex-row gap-6 snap-x scroll-px-16 max-lg:scroll-px-16 scrollbar-hidden pt-1"
        >
          {events.map((event) => <EventCard event={event} />)}
        </div>
      </div>
      <div class="flex flex-col mx-16 gap-64 my-32 max-sm:mx-4">
        <div class="flex items-center justify-center gap-64 mt-20">
          <div
            class="flex flex-col max-lg:items-center max-lg:w-full justify-center gap-8"
          >
            <h2 class="font-luckiest-guy text-6xl text-white max-sm:text-5xl">
              About Us
            </h2>
            <p class="max-lg:text-center max-lg:max-w-2xl max-lg:px-4">
              Driving innovation at the intersection of web3 and gaming. Nouns
              is a decentralized esports organization where anyone, anywhere can
              contribute towards its growth and success!
            </p>
            <Button href="/about">LEARN MORE</Button>
          </div>
          <div class="relative w-[800px] max-lg:hidden">
            <img
              src="noggle-cup.png"
              class="w-[300px] -top-16 left-96 absolute rounded-2xl"
            />
            <img
              src="noggles.jpg"
              class="w-[500px] absolute left-72 top-40 rounded-2xl"
            />

            <img src="championship.JPG" class="w-[500px] rounded-2xl" />
          </div>
        </div>
        <div class="flex flex-col justify-center items-center gap-12">
          <h2 class="font-luckiest-guy text-6xl text-white max-sm:text-5xl">
            Apparel
          </h2>
          <div
            class="cursor-default select-none py-3 px-[22px] text-black font-bebas-neue text-xl justify-center leading-none bg-white rounded-full flex items-center"
          >
            Coming Soon!
          </div>
          <!-- <Button href="https://shop.nouns.gg" newTab>SHOP</Button> -->
        </div>
      </div>
    </div>
  </div>
</Layout>
