---
import Button from "../components/Button.astro";
import Discord from "../components/SocialIcons/Discord.astro";
import Twitch from "../components/SocialIcons/Twitch.astro";
import Twitter from "../components/SocialIcons/Twitter.astro";
import Youtube from "../components/SocialIcons/Youtube.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ScheduleCard from "../components/ScheduleCard.astro";
import GameCard from "../components/GameCard.astro";
import NewLayout, { projects } from "../layouts/Layout.astro";

import { metadata, games, schedule } from "../layouts/Layout.astro";

function highlight(text: string, words: string[]) {
  for (const word of words) {
    text = text.split(word).join(`<span class="text-red">${word}</span>`);
  }
  return text;
}
---

<NewLayout title="">
  <div
    class="h-screen bg-cover flex flex-col justify-center items-center gap-8 shadow-[inset_-100px_-100px_100px_black,inset_100px_100px_100px_black] max-sm:shadow-[inset_-40px_-40px_40px_black,inset_40px_40px_40px_black]"
  >
    <img
      src="/landing.webp"
      class="absolute top-0 select-none w-full h-full object-cover object-top -z-10"
    />
    <h1
      class="text-white text-6xl w-1/2 text-center font-luckiest-guy max-lg:w-full max-lg:px-16 max-sm:px-8 max-md:text-5xl max-[450px]:text-4xl"
      set:html={highlight(metadata.tagline, ["esports", "onchain"])}
    />
    <div class="flex gap-8 max-md:flex-col items-center">
      <Button href="/about">Learn More</Button>
      <div class="flex gap-4 w-fit items-center">
        <Twitch class="w-[26px]" />
        <Twitter class="w-[34px]" />
        <Youtube class="w-9" />
        <Discord class="w-9" />
      </div>
    </div>
    <div
      class="h-8 w-full bg-gradient-to-b from-black to-transparent absolute -bottom-8"
    >
    </div>
  </div>
  <div
    class="px-16 py-32 text-white text-5xl font-luckiest-guy flex flex-col gap-20 items-center max-sm:px-8"
  >
    Our Games
    <div
      class="grid grid-cols-4 gap-16 w-full max-lg:grid-cols-2 max-sm:grid-cols-1 max-xl:gap-8"
    >
      {games.map((game) => <GameCard game={game} />)}
    </div>
  </div>
  <div
    class="relative py-32 shadow-[inset_-80px_-80px_100px_black,inset_80px_80px_100px_black]"
  >
    <img
      src="/clips.webp"
      alt=""
      class="absolute top-0 w-full h-full select-none object-cover object-center -z-10 brightness-[40%]"
    />
    <div class="grid place-items-center gap-10">
      <h2 class="text-white font-luckiest-guy text-8xl">POG</h2>
      <p
        class="max-w-[500px] px-8 text-center text-[#AAAAAA] text-lg leading-tight [text-shadow:black_0_0_30px]"
      >
        POG is a platform by Nouns Esports that lets anyone showcase their clips
        from any multiplayer game and earn real money in the process.
      </p>
      <Button href="https://pog.nouns.gg">Explore</Button>
    </div>
  </div>

  <div
    class="px-16 max-sm:px-8 py-32 text-white text-5xl text-center font-luckiest-guy flex flex-col gap-20 items-center"
  >
    Upcoming Events
    <div
      class="grid grid-cols-3 max-xl:grid-cols-2 max-md:grid-cols-1 gap-16 max-2xl:gap-8 w-full"
    >
      {schedule.map((event) => <ScheduleCard event={event} />)}
    </div>
  </div>
  <div
    class="px-16 max-sm:px-8 pb-32 text-white text-5xl font-luckiest-guy flex flex-col gap-20 items-center"
  >
    Projects
    <div
      class="grid grid-cols-4 max-2xl:grid-cols-2 max-sm:grid-cols-1 gap-16 max-2xl:gap-8 w-full"
    >
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</NewLayout>
