<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/_vercel/insights/script.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>Prop House</title>
  </head>
  <body>
    <script>
      window.location = "https://prop.house/nouns-esports";
    </script>
  </body>
</html>
