---
type Props = {
  href: string;
};

const { href } = Astro.props;

const newTab = href.includes("://") || ["/shop", "/getfunded"].includes(href);
---

<a
  href={href}
  draggable={false}
  target={newTab ? "_blank" : ""}
  rel={newTab ? "noopener noreferrer" : ""}
  class="hover:text-white transition-colors select-none text-lg font-medium"
>
  <slot />
</a>
