---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  href={href}
  draggable={false}
  target="_blank"
  rel="noopener noreferrer"
  class="hover:text-white transition-colors select-none text-lg font-medium"
>
  <slot />
</a>
