---
import Button from "../Button.astro";
import NavLink from "./HeaderLink.astro";

import { navigation, metadata } from "../../layouts/Layout.astro";
import Banner from "../Banner.astro";
import Logo from "../Logo.astro";
---

{metadata.banner ? <Banner /> : ""}
<header class="sticky top-0 w-full z-20">
  <div
    class="absolute top-0 w-full flex items-center justify-between gap-16 p-8"
  >
    <a
      href="/"
      draggable={false}
      class="flex gap-4 group items-center cursor-pointer select-none"
    >
      <Logo
        class="text-[var(--primaryColor)] group-hover:rotate-[14deg] w-12 transition-transform duration-150"
      />
      <p class="text-white font-luckiest-guy text-4xl select-none">Nouns</p>
    </a>
    <nav class="flex items-center gap-6 cursor-pointer">
      {navigation.map(({ url, name }) => <NavLink href={url}>{name}</NavLink>)}
      <Button href="">Join Us</Button>
    </nav>
  </div>
</header>
