---
type Props = {
  href: string;
};
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="relative z-40 h-8 bg-red text-white text-sm font-semibold w-full whitespace-nowrap flex items-center justify-center"
>
  <slot />
  <img src="/icons/arrow2.svg" class="ml-2 w-3" />
</a>
