---
type Props = {
  href: string;
};

const { href } = Astro.props;

const newTab = href.includes("://");
---

<a
  href={href}
  target={newTab ? "_blank" : ""}
  rel={newTab ? "noopener noreferrer" : ""}
  class="relative w-min cursor-pointer"
  draggable={false}
>
  <div class="absolute w-full h-full bg-[var(--primaryColor)] rounded-full">
  </div>
  <div
    class="relative select-none text-darkgrey hover:translate-x-1 hover:-translate-y-1 transition-transform py-3 px-[22px] text-xl bg-white rounded-full flex items-center justify-center leading-none font-bebas-neue whitespace-nowrap"
  >
    <slot />
  </div>
</a>
