---
// import MobileNav from "./MobileNav";

import NavLink from "./NavLink.astro";

const path = Astro.url.pathname;
---

<header
  class="sticky top-0 w-full flex max-xl:justify-between items-center gap-16 p-8 z-20"
>
  <a
    href="/"
    draggable={false}
    class="flex gap-4 group items-center cursor-pointer select-none"
  >
    <img
      src="/logo.svg"
      alt="Nouns Esports Logo"
      draggable={false}
      class="group-hover:rotate-[14deg] w-12 max-3xl:w-10 transition-transform duration-150 delay-0"
    />
    <p
      class="text-white font-luckiest-guy text-4xl max-3xl:text-3xl select-none max-[300px]:hidden"
    >
      Nouns
    </p>
  </a>
  <nav class="flex items-center gap-6 cursor-pointer text-xl font-medium">
    <NavLink
      href="https://calendar.google.com/calendar/embed?src=2gl6iku9kcb2qjdrtgdthgng3s%40group.calendar.google.com"
    >
      Schedule
    </NavLink>
    <NavLink href="/about">About</NavLink>
    <NavLink href="pog.nouns.gg">POG</NavLink>
    <NavLink href="https://shop.nouns.gg">Shop</NavLink>
  </nav>
</header>
