---
import type { projects } from "../layouts/Layout.astro";

type Props = {
  project: (typeof projects)[number];
};

const { project } = Astro.props;
---

<a
  href={project.url}
  target="_blank"
  rel="noopener noreferrer"
  class="relative w-[calc(25%_-_3rem)] max-xl:w-[calc(25%_-_1.5rem)] max-sm:first:ml-8 max-sm:last:mr-8 max-sm:min-w-[calc(100%_-_6rem)] min-w-[20rem] overflow-hidden select-none aspect-video rounded-xl group drop-shadow-2xl"
>
  <img
    src={project.image}
    alt={project.name}
    class="object-cover object-center group-hover:scale-110 brightness-[85%] transition-transform absolute top-0 w-full h-full"
  />
  <div
    class="relative z-10 grid place-items-center w-full h-full shadow-[inset_-20px_-20px_80px_black,inset_20px_20px_80px_black]"
  >
    <h3 class="text-4xl font-bebas-neue [text-shadow:black_0_0_30px]">
      {project.name}
    </h3>
  </div>
</a>
