---
const props = Astro.props;
---

<div class={props.class}>
  <a
    href="/teams/melee"
    class="group flex items-center justify-center bg-[url('/smash.webp')] bg-cover bg-center flex-1 object-cover relative hover:flex-grow-[3] overflow-hidden cursor-pointer transition-all ease-in-out duration-500 saturate-0 brightness-[15%] hover:saturate-100 hover:brightness-100"
  >
    <p
      class="text-white whitespace-nowrap font-luckiest-guy text-6xl drop-shadow-[0_16px_16px_rgba(0,0,0,1)]"
    >
      Smash Melee
    </p>
  </a>
  <a
    href="/teams/pokemon"
    class="group flex items-center justify-center bg-[url('/pokemon.webp')] bg-cover bg-center flex-1 object-cover relative hover:flex-grow-[3] overflow-hidden cursor-pointer transition-all ease-in-out duration-500 saturate-0 brightness-[10%] hover:saturate-100 hover:brightness-100"
  >
    <p
      class="text-white whitespace-nowrap font-luckiest-guy text-6xl drop-shadow-[0_32px_32px_rgba(0,0,0,1)]"
    >
      Pokemon Unite
    </p>
  </a>
</div>
