---
import type { teams } from "../layouts/Layout.astro";

type Props = {
  team: (typeof teams)[number];
};

const { team } = Astro.props;
---

<a
  href={`/teams/${team.name
    .normalize("NFD")
    .replace(/[\u0300-\u036f]/g, "")
    .toLowerCase()
    .replace(/ /g, "-")}`}
  style={{ backgroundImage: `url(${team.image})` }}
  class="relative w-full rounded-xl select-none aspect-square group overflow-hidden"
>
  <img
    src={team.image}
    alt=""
    class="object-cover object-center absolute w-full top-0 h-full brightness-[85%] group-hover:scale-110 transition-transform"
  />
  <div
    class="relative z-10 w-full h-full grid place-items-center shadow-[inset_-20px_-20px_80px_black,inset_20px_20px_80px_black]"
  >
    <h3
      class="drop-shadow-2xl text-center p-4 text-5xl max-2xl:text-4xl max-sm:text-3xl font-bebas-neue [text-shadow:black_0_0_30px]"
    >
      {team.name}
    </h3>
  </div>
</a>
