---
type Props = {
  url: string;
};

const { url } = Astro.props;

const offsite = url.includes("://");
---

<a
  href={url}
  target={offsite ? "_blank" : "_self"}
  rel={offsite ? "noopener noreferrer" : ""}
  draggable={false}
  class="hover:text-white transition-colors max-md:text-center"
>
  <slot />
</a>
