---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div class="flex flex-col gap-2 select-none">
  <h3 class="text-2xl font-bebas-neue text-white max-md:text-center">
    {title}
  </h3>
  <slot />
</div>
