---
const props = Astro.props;
---

<a
  href="https://discord.gg/nounsesports"
  target="_blank"
  rel="noopener noreferrer"
  class={`cursor-pointer group ${props.class}`}
>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 35 26"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M29.5708 2.16076C27.4101 1.15352 25.0707 0.422464 22.6339 7.47275e-05C22.6125 -0.000608574 22.5912 0.00340101 22.5716 0.0118216C22.5519 0.0202423 22.5344 0.0328694 22.5201 0.0488123C22.2277 0.584922 21.8866 1.28349 21.6591 1.8196C19.0744 1.4297 16.4459 1.4297 13.8612 1.8196C13.6337 1.26724 13.2926 0.584922 12.9839 0.0488123C12.9676 0.0163208 12.9189 7.47275e-05 12.8702 7.47275e-05C10.4333 0.422464 8.11016 1.15352 5.93323 2.16076C5.91698 2.16076 5.90073 2.177 5.88449 2.19325C1.46565 8.80527 0.247215 15.2386 0.848307 21.6069C0.848307 21.6394 0.864553 21.6719 0.897044 21.6881C3.82128 23.8326 6.63179 25.1322 9.40982 25.9933C9.45855 26.0095 9.50729 25.9933 9.52354 25.9608C10.1734 25.0673 10.7582 24.125 11.2618 23.134C11.2943 23.069 11.2618 23.0041 11.1968 22.9878C10.2708 22.6304 9.39357 22.208 8.53255 21.7206C8.46756 21.6881 8.46756 21.5907 8.5163 21.5419C8.695 21.412 8.87371 21.2658 9.05241 21.1358C9.0849 21.1033 9.13364 21.1033 9.16613 21.1195C14.7547 23.6701 20.7818 23.6701 26.3054 21.1195C26.3379 21.1033 26.3866 21.1033 26.4191 21.1358C26.5978 21.282 26.7765 21.412 26.9552 21.5582C27.0202 21.6069 27.0202 21.7044 26.939 21.7369C26.0942 22.2405 25.2007 22.6466 24.2747 23.0041C24.2097 23.0203 24.1934 23.1015 24.2097 23.1503C24.7296 24.1413 25.3144 25.0835 25.948 25.977C25.9967 25.9933 26.0455 26.0095 26.0942 25.9933C28.8885 25.1322 31.699 23.8326 34.6232 21.6881C34.6557 21.6719 34.672 21.6394 34.672 21.6069C35.3868 14.2476 33.486 7.86302 29.6358 2.19325C29.6195 2.177 29.6033 2.16076 29.5708 2.16076ZM12.1066 17.7242C10.4333 17.7242 9.03616 16.1808 9.03616 14.2801C9.03616 12.3793 10.4008 10.836 12.1066 10.836C13.8287 10.836 15.1933 12.3956 15.1771 14.2801C15.1771 16.1808 13.8124 17.7242 12.1066 17.7242ZM23.4299 17.7242C21.7566 17.7242 20.3595 16.1808 20.3595 14.2801C20.3595 12.3793 21.7241 10.836 23.4299 10.836C25.1519 10.836 26.5166 12.3956 26.5003 14.2801C26.5003 16.1808 25.1519 17.7242 23.4299 17.7242Z"
      class="fill-white group-hover:fill-[#7289da]"></path>
  </svg>
</a>
