---
const props = Astro.props;
---

<div  class={`cursor-pointer group ${props.class}`}>
    <svg width="100%" height="100%" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.136 6.288H15.424V13.136H13.136M19.424 6.288H21.712V13.136H19.424M5.712 0L0 5.712V26.288H6.848V32L12.576 26.288H17.136L27.424 16V0M25.136 14.864L20.576 19.424H16L12 23.424V19.424H6.848V2.288H25.136V14.864Z" class="fill-white group-hover:fill-[#9146FF]"/>
    </svg>
</div>
