---
const props = Astro.props;
---

<a
  href="https://www.youtube.com/@nounsesports"
  target="_blank"
  rel="noopener noreferrer"
  class={`cursor-pointer group ${props.class}`}
>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 35 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14.1335 17.1429L23.0306 12L14.1335 6.85714V17.1429ZM33.9506 3.72C34.1735 4.52571 34.3278 5.60571 34.4306 6.97714C34.5506 8.34857 34.602 9.53143 34.602 10.56L34.7049 12C34.7049 15.7543 34.4306 18.5143 33.9506 20.28C33.522 21.8229 32.5278 22.8171 30.9849 23.2457C30.1792 23.4686 28.7049 23.6229 26.442 23.7257C24.2135 23.8457 22.1735 23.8971 20.2878 23.8971L17.562 24C10.3792 24 5.9049 23.7257 4.13919 23.2457C2.59633 22.8171 1.60205 21.8229 1.17348 20.28C0.950618 19.4743 0.796332 18.3943 0.693475 17.0229C0.573475 15.6514 0.522046 14.4686 0.522046 13.44L0.419189 12C0.419189 8.24571 0.693475 5.48571 1.17348 3.72C1.60205 2.17714 2.59633 1.18286 4.13919 0.754286C4.9449 0.531429 6.41919 0.377143 8.68205 0.274285C10.9106 0.154285 12.9506 0.102857 14.8363 0.102857L17.562 0C24.7449 0 29.2192 0.274286 30.9849 0.754286C32.5278 1.18286 33.522 2.17714 33.9506 3.72Z"
      class="fill-white group-hover:fill-[red] transition-colors"></path>
  </svg>
</a>
