---
import Background from "../components/Background";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Alert from "../components/Alert";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link
      rel="preload"
      href="/fonts/BebasNeue.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Cabin.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/LuckiestGuy.ttf"
      as="font"
      crossorigin="anonymous"
    />
    {
      title === "" ? (
        <>
          <link rel="preload" href="/pokemon.webp" as="image" />
          <link rel="preload" href="/smash.webp" as="image" />
        </>
      ) : (
        ""
      )
    }
    <link rel="icon" type="image/svg" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nouns Esports {title ? "-" : ""} {title}</title>
  </head>

  <body
    class="bg-black text-grey font-cabin w-full selection:text-white selection:bg-red"
  >
    <Background client:load />
    {
      title === "" ? (
        <Alert
          client:load
          message="Check out our latest proposal 119"
          href="https://nouns.wtf/vote/119"
        />
      ) : (
        ""
      )
    }

    <Header />
    <div class="relative z-10">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  @font-face {
    font-family: Luckiest Guy;
    font-weight: 400;
    src: url(/fonts/LuckiestGuy.ttf) format("truetype");
  }

  @font-face {
    font-family: Bebas Neue;
    font-weight: 400;
    src: url(/fonts/BebasNeue.ttf) format("truetype");
  }

  @font-face {
    font-family: Cabin;
    font-weight: 400;
    src: url(/fonts/Cabin.ttf) format("truetype");
  }

  :root {
    --sab: env(safe-area-inset-bottom);
  }
</style>
