---
import BackgroundEffect from "../components/BackgroundEffect.astro";
import Header from "../components/Header/index.astro";
import Footer from "../components/Footer/index.astro";
import Banner from "../components/Banner.astro";
import fetchCache from "../utils/fetchCache";

type Props = {
  title: string;
};

const { title } = Astro.props;

export const { schedule, metadata, projects, teams, talent } = fetchCache();

export const navigation = [
  {
    name: "Schedule",
    url: "https://calendar.google.com/calendar/embed?src=2gl6iku9kcb2qjdrtgdthgng3s%40group.calendar.google.com",
  },
  { name: "POG", url: "https://pog.nouns.gg" },
  { name: "About", url: "/about" },
  { name: "Shop", url: "https://shop.nouns.gg" },
];

export const socials = {
  twitter: "https://twitter.com/nounsesports",
  discord: "https://discord.gg/nounsesports",
  twitch: "https://twitch.tv/nounsesports",
  youtube: "https://youtube.com/@nounsesports",
};
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <script defer src="/_vercel/insights/script.js"></script>
    <link
      rel="preload"
      href="/fonts/BebasNeue.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Cabin.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/LuckiestGuy.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/svg" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nouns Esports {title ? "-" : ""} {title}</title>
    <meta name="description" content={metadata.tagline} />
  </head>

  <body
    class="bg-black text-grey font-cabin selection:text-white selection:bg-red"
  >
    <BackgroundEffect />
    <Header />
    <div style={{ marginTop: metadata.banner ? "-2.25rem" : "" }}>
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  @font-face {
    font-family: Luckiest Guy;
    font-weight: 400;
    src: url(/fonts/LuckiestGuy.ttf) format("truetype");
  }

  @font-face {
    font-family: Bebas Neue;
    font-weight: 400;
    src: url(/fonts/BebasNeue.ttf) format("truetype");
  }

  @font-face {
    font-family: Cabin;
    font-weight: 400;
    src: url(/fonts/Cabin.ttf) format("truetype");
  }
</style>
