---
import Header from "../components/Header/index.astro";
import Footer from "../components/Footer/index.astro";
import fetchCache from "../utils/fetchCache";
import dotenv from "dotenv";
dotenv.config();

type Props = {
  title: string;
  primaryColor?: string;
};

const { title, primaryColor } = Astro.props;

export const { schedule, projects, games, rosters, balance } = fetchCache();

export const navigation = [
  {
    name: "Get Funded",
    url: "/getfunded",
  },

  { name: "About", url: "/about" },
  { name: "Shop", url: "/shop" },
];

// export const banner = {
//   message: "Want funding to host or compete in a tournament?",
//   url: "/getfunded",
// };

export const banner = {
  message: "Celebrate esports summer with us!",
  url: "/mint",
};

export const tagline =
  "Immortalizing esports through the infinite onchain frontier";

export const socials = {
  twitter: "https://twitter.com/nounsesports",
  discord: "https://discord.gg/nounsesports",
  twitch: "https://twitch.tv/nounsesports",
  youtube: "https://youtube.com/@nounsesports",
};
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <script defer src="/_vercel/insights/script.js"></script>
    <link
      rel="preload"
      href="/fonts/BebasNeue.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Cabin.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/LuckiestGuy.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/svg" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nouns Esports {title ? "-" : ""} {title}</title>
    <meta name="description" content={tagline} />
  </head>

  <body
    class="bg-black text-lightgrey font-cabin selection:text-white selection:bg-[var(--primaryColor)] //BREAKS_STICKY_HEADERoverflow-x-hidden"
  >
    <Header />
    <div style={{ marginTop: banner ? "-2.25rem" : "" }}>
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style define:vars={{ primaryColor: primaryColor || "#E93737" }}>
  @font-face {
    font-family: Luckiest Guy;
    font-weight: 400;
    src: url(/fonts/LuckiestGuy.ttf) format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: Bebas Neue;
    font-weight: 400;
    src: url(/fonts/BebasNeue.ttf) format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: Cabin;
    font-weight: 400;
    src: url(/fonts/Cabin.ttf) format("truetype");
    font-display: swap;
  }
</style>
