---
type Props = {
  class: string;
};

const props = Astro.props;

import { socials } from "../../layouts/Layout.astro";
---

<a
  href={socials.twitter}
  target="_blank"
  rel="noopener noreferrer"
  class={`cursor-pointer group ${props.class}`}
>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 33 26"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M32.4194 3.05882C31.2417 3.59412 29.9723 3.94588 28.657 4.11412C30.0029 3.30353 31.0429 2.01882 31.5323 0.474118C30.2629 1.23882 28.8558 1.77412 27.3723 2.08C26.1641 0.764706 24.4664 0 22.5394 0C18.9452 0 16.0088 2.93647 16.0088 6.56118C16.0088 7.08118 16.07 7.58588 16.177 8.06C10.7323 7.78471 5.88407 5.16941 2.65701 1.20824C2.09113 2.17176 1.76995 3.30353 1.76995 4.49647C1.76995 6.77529 2.91701 8.79412 4.69113 9.94118C3.60525 9.94118 2.59584 9.63529 1.70878 9.17647V9.22235C1.70878 12.4035 3.97231 15.0647 6.96995 15.6612C6.00754 15.9246 4.99716 15.9612 4.01819 15.7682C4.43359 17.072 5.24713 18.2129 6.34445 19.0304C7.44177 19.8479 8.7677 20.3009 10.1358 20.3259C7.81668 22.1618 4.94195 23.1542 1.98407 23.14C1.46407 23.14 0.944072 23.1094 0.424072 23.0482C3.32995 24.9141 6.78643 26 10.4876 26C22.5394 26 29.1617 15.9976 29.1617 7.32588C29.1617 7.03529 29.1617 6.76 29.1464 6.46941C30.4311 5.55176 31.5323 4.38941 32.4194 3.05882Z"
      class="group-hover:fill-[#00acee] fill-white transition-colors"></path>
  </svg>
</a>
